.card-container {
    display: flex;
    flex-wrap: wrap; /* Corrigido */
    justify-content: space-around;
    gap: 10px;
}

.card {
    width: 100%;
    max-width: 300px; /* Ajuste para responsividade */
    margin: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgb(72, 253, 0);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: perspective(1000px);
    opacity: 0.8;
}

.card:hover {
    transform: perspective(1000px) rotateX(-3deg) rotateY(3deg);
    opacity: 1;
}

.card-img {
    width: 100%; /* Garantir que a imagem se adapte ao card */
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-title {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-text {
    margin: 10px 0;
    color: #000000;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.card-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #0056b3;
}

/* Responsividade */
@media screen and (max-width: 955px) {
    .card {
        margin: 3em auto;
    }

    .card-container {
        justify-content: center; /* Alinha os cards ao centro */
    }

    .card-title {
        font-size: 1rem; /* Tamanho mais legível em telas menores */
    }

    .card-text {
        font-size: 0.8rem; /* Ajuste proporcional */
    }
}
