.conteiner-fluid {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    background-color: rgba(27, 27, 27, 0.863);
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    text-align: center;
}

.h5-footer {
    font-size: 2rem;
    text-align: center;
}

.grup-links {
    margin: 10px;
    text-align: center;
}

.footer-assinatura {
    text-align: center;
}

@media screen and (max-width: 955px) {

    .conteiner-fluid {

        text-align: center;
        margin: 10px;
    }

    .row {

        margin: 10px;
    }


}