.home {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100dvh;
}

.img-hello-word {
    width: 40em;
    height: auto;
}

.text-img {
    text-align: center;
}

@media screen and (max-width:995px) {

    .home {
        display: block;
        margin: 0 auto;

    }

    .img-hello-word {
        width: 24em;
        height: auto;
        margin: 0 auto;
    }


}