/* Estilização dos Portifolios "Projetos*/
#conteiner-portifolio {
    background-color: rgba(39, 39, 39, 0.5);
    margin: 0 auto;
    width: 80%;
    height: auto;
    
}

.port-titul {
    text-align: center;
    margin: 5px;
    padding: 10px;
}

.port-hr {
    max-width: 90em;
    margin: 10px auto;   
}

.conteiner_blocks {
    border: 1px solid rgba(255, 0, 0, 0.418);
    box-shadow: 0px 10px 30px rgba(0, 0, 255, 0.274);
    margin: 10px;
    border-radius: 10px;
}
.blocks {
    text-align: center;
    color: aliceblue;
}

.titulo_blocks {
    margin: 10px;
}

.img_bloscks {
    padding: 10px;
    margin: 10px;
    width: 80%;
    border-radius: 20px;
}

.desc_blocks {
    margin: 10px;
    padding: 5px;
}
.lingua_tecno {
    padding: 5px;
}
.div_conteiner_links {
    margin: 10px;
}
.links_rede  {
    color: rgb(0, 134, 252);
    padding: 10px;
}