#port-titul h3 {
    margin: 20px 0;
    padding-left: 10px;
}

.card {
    border: 1px solid red;
    width: calc(40% - 200px); /* Defina a largura desejada para cada bloco (neste exemplo, 33.33%) */
    padding: 20px;
    margin: 20px 10px; /* Adicione margens horizontais para espaçamento entre os blocos */
    box-sizing: border-box; /* Certifique-se de que as margens não aumentem o tamanho total */
    vertical-align: top; /* Alinhe os blocos na parte superior para evitar espaços extras */
    display: inline-block;
}

.card .img-port {
    width: 100%;
    height: auto;
    border-top-left-radius: 16px;
    transition: 0.5s;
}

h5 {
    padding: 10px;
}

.desc-port p {
    color: rgb(206, 209, 206);
    padding: 15px;
}

i {
    color: aliceblue;
    display: block;
    margin: 5px;
}

.class-tecno {
    display: block;
    margin: 5px 5px;
}

.butt-link a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    display: inline-block;
}

.butt-link a:hover {
    color: rgb(5, 108, 199);
    text-decoration: none;
}

.titulo-form {
    text-align: center;
}

/* Adicionando media queries para tornar o layout responsivo */

@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        max-width: none;
        margin: 20px auto;
    }
}
