
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 100px;
  cursor: pointer;
  opacity: -1;
  transition: opacity 0.3s ease-in-out;   
}
.scroll-to-top.show {
    opacity: 1;
}
.arrow {
  width: 60px;
  height: 55px;
  display: inline-block;
  animation: bounce 2s infinite;
}

@media screen and (max-width: 760px) {
  .arrow{
    max-width: 50px;
  }
  .scroll-to-top {
    right: 65px;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@media screen and(max-width: 614px) { 
  .arrow {
      width: 5px
  }
}
